.title {
    font-size: 30px;
    -unity-font-style: bold;
    color: rgb(255, 74, 68);
    align-items: center;
    top: 10%;
    left: auto;
    -unity-text-align: middle-center;
    align-self: center;
}

.menu-button {
    font-size: 30px;
    -unity-font-style: bold;
    color: rgb(70, 70, 70);
    align-items: center;
    top: 10%;
    left: auto;
    -unity-text-align: middle-center;
    align-self: center;
}
